<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define WPF3_TargetDir=$(var.WPF3.TargetDir)?>
	<?define 3DTools_TargetDir=$(var.3DTools.TargetDir)?>
	<?define CoreS_TargetDir=$(var.CoreS.TargetDir)?>
	<?define Cabinet_Maker_NanoCad_TargetDir=$(var.Cabinet_Maker_NanoCad.TargetDir)?>
	
	<Product Id="*" Name="CabinetMaker" Language="1033" Version="1.0.0.0" Manufacturer="Savento" UpgradeCode="007e1cc8-da9e-46fe-bcd7-fdc13a6ce813">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="CabinetMaker" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProgramFilesFolder_files" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="Savento" Name="Savento">
					<Directory Id="INSTALLFOLDER" Name="CabinetMaker" />
				</Directory>
			</Directory>
			
		</Directory>

		
		
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProgramFilesFolder_files" Directory="ProgramFilesFolder">
			
			<Component Id="WPF3.dll" Guid="1121a41d-c6dc-4936-a2eb-1a421bd61c47">
				<File Id="WPF3.dll" Name="WPF3.dll" Source="$(var.WPF3_TargetDir)WPF3.dll" />
			</Component>
			<Component Id="WPF3.runtimeconfig.json" Guid="dddd0896-e9f0-4f15-bc39-6d6b2dd10813">
				<File Id="WPF3.runtimeconfig.json" Name="WPF3.runtimeconfig.json" Source="$(var.WPF3_TargetDir)WPF3.runtimeconfig.json" />
			</Component>
			<Component Id="_3DTools.dll" Guid="db69083c-b1bc-4b06-b6f8-5b520cdabd52">
				<File Id="_3DTools.dll" Name="3DTools.dll" Source="$(var.3DTools_TargetDir)3DTools.dll" />
			</Component>
			<Component Id="CoreS.dll" Guid="12837d14-5849-49c8-a793-db750f4a4e32">
				<File Id="CoreS.dll" Name="CoreS.dll" Source="$(var.CoreS_TargetDir)CoreS.dll" />
			</Component>
			<Component Id="NLog.config" Guid="c22de596-1a7c-439d-b43b-27d06bb01613">
				<File Id="NLog.config" Name="NLog.config" Source="$(var.Cabinet_Maker_NanoCad_TargetDir)NLog.config" />
			</Component>
			<Component Id="Cabinet_Maker_NanoCad.dll" Guid="e4b83182-eed8-4f5f-8d6f-cf328c668d3d">
				<File Id="Cabinet_Maker_NanoCad.dll" Name="Cabinet_Maker_NanoCad.dll" Source="$(var.Cabinet_Maker_NanoCad_TargetDir)Cabinet_Maker_NanoCad.dll" />
			</Component>
			<Component Id="WPF3.exe" Guid="ae3c774a-d696-405c-8b2a-0b9b74575967">
				<File Id="WPF3.exe" Name="WPF3.exe" Source="$(var.WPF3_TargetDir)WPF3.exe"/>
			</Component>
			
			
		</ComponentGroup>
	</Fragment>
</Wix>
